@{
    ViewData["Title"] = "Sobre o programa";
}
<h1>@ViewData["Title"]</h1>

<p> Olá nosso sistema consiste em fazer o monitoramento do gás "GLP" do botijão de cozinha. recebendo esse dados enviados do nosso arduino </p>
